/venv
__pycache__/
*.pyc
.vscode/
/app/storage/schools/*/temp/*
/app/storage/schools/*/reports/*
/app/storage/schools/*/assets/*
instance/pitcher_reports.db
.env
instance/pitcher_reports.db-shm
instance/pitcher_reports.db-wal
CLAUDE.md