<!-- templates/embedded-checkout.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Embedded Checkout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='resources/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">

    <script src="https://js.stripe.com/v3/"></script>
    <style>
    #checkout {
        width: 100%;
        min-height: 600px;
        border: none;
    }
    </style>
</head>
<body onload="loadNavbar(); loadFooter();">
    <!-- Navbar Placeholder -->
    <div id="navbar-placeholder"></div>

    <main class="main-content">
        <div class="bubble" style="max-width: 1000px; flex-direction: column; display: flex; justify-content: center; justify-self: center; min-width: 500px; align-items: center; background: #2a2a2a; color: white;">
            <h1>Complete your purchase</h1>
            <div id="checkout"></div>
        </div>
    </main>

    <!-- Footer Placeholder -->
    <div id="footer-placeholder"></div>

    <script>
        const stripe = Stripe('{{ stripe_publishable_key }}');

        stripe.initEmbeddedCheckout({
            clientSecret: '{{ client_secret }}',
        }).then(function(checkout) {
            checkout.mount('#checkout');
        });
    </script>
    <script src="{{ url_for('static', filename='js/core.js') }}"></script>
</body>
</html>