<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Pitcher Reports</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <style>
        .upload-btn:hover {
            background-color: var(--accent);
            text-decoration: none;
        }
        </style>
    </head>
    <body onload="loadNavbar(); loadHeader('Pitcher Reports - Baseball Analytics', '/static/resources/HomePlate.png'); loadFooter();">
        <!-- Navbar Placeholder -->
        <div id="navbar-placeholder"></div>

        <!-- Header Placeholder -->
        <div id="header-placeholder"></div>

        <main class="main-content">
            <div style="padding: 20px; background-color: var(--light); border-radius: 32px; margin: 32px;">
                <h2>Login</h2>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    <input class="bubble" type="email" name="email" placeholder="Email" required style="color: var(--tertiary); margin: 8px; background-color: white; border: 2px solid var(--accent);"><br>
                    <input class="bubble" type="password" name="password" placeholder="Password" required style="color: var(--tertiary); margin: 8px; background-color: white; border: 2px solid var(--accent);"><br>
                    <label>
                        <input style="margin: 0 0 10px 0; width: 5%; accent-color: var(--tertiary);" type="checkbox" name="remember"> Remember Me
                    </label><br>
                    <button type="submit" class="upload-btn">Login</button>
                </form>

            </div>
        </main>
        <!-- Footer Placeholder -->
        <div id="footer-placeholder"></div>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>